@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.output-img {
  width: 300px;
}

.output-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  padding: 1.5rem 0.5rem;
}

button {
  background-color: #00cbff;
}
